* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 
body {
  background: #fff;
  line-height: 1.5;
  font-family: 'Caveat', cursive;
}
 
.App {
  text-align: center;
  margin: 2rem 0;
  padding: 1rem;
  max-width: 1100px;
  margin: auto;
}
 
.App > h1 {
  text-align: center;
  color: #ffffff;
  margin-bottom: 2rem;
  font-size: 2rem;
  text-transform: uppercase;
}
 
.App > div, .container_pokemon_deck {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  grid-gap: 1.5rem;
  justify-content: center;
  align-items: center;
}
 
.Card {
  width: 12rem auto;
  background: #5bb0ca;
  color: #e4c439;
  padding: 1rem;
  border-radius: 10px;
  border-top: 0.5px solid #e4c439;
  border-bottom: 0.5px solid #e4c439;
  text-align: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  position: relative;
  overflow: hidden;
  transition: 0.2s ease-in-out all;
}
 
.Card:hover {
  transform: scale(1.05);
}
 
.Card--id {
  background: #e4c439;
  width: 3rem;
  color: #fff;
  padding: 0.1rem;
  font-weight: 700;
  position: absolute;
  border-radius: 0 0 10px 0;
  top: 0;
  left: 0;
}
.Card--name {
  text-transform: capitalize;
  color: rgb(255, 255, 255);
  font-size: 2rem;
  font-weight: 700;
}
 
.Card--image {
  width: 150px;
  display: block;
  margin: auto;
}
 
.Card--details {
  font-size: 1.3rem;
  color: #e4c439;
}

.live-search-field {
  line-height: 1.5;
  width: 400px;
  height: 1.5rem;
  font-size: 1.2rem;
  font-family: 'Caveat', cursive;
  margin-bottom: 100px;
}

.loader {
    border: 16px solid #f3f3f3; 
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: auto;
}


.Btn_wrap{
  margin-top: 10px;
}

.Btn-card {
  padding: 10px 5px;
  border-radius: 10px;
  background: transparent;
  color: #fff;
  border: 1px solid #ffffff;
  cursor: pointer;
}

@keyframes FadeAnimation {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.alert-success {
  animation: FadeAnimation 1.5s ease-in .1s forwards;
  position: fixed!important;
  z-index: 99;
  top: 10px;
  left: 0px;
}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
